<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About our Service page</title>
  </head>
  <body>

    

    <div class="container" style="text-align:center">
        {%include 'navbar.html'%}
    <h1>Hello All This is our home page and we aremaking a website  </h1>
    <p>This is our home page and whatever you want to know you can search gere related to our topic.This page provides you a rellevent ammount of information throughout in the rest forms</p>
    <button>Contact Us</button>
    </div>
  </body>
</html>